#starShrink {
    mask:
        linear-gradient(#000 0 0),
        url('../assets/star.svg') 50% 50% / 300% 300% no-repeat;
    -webkit-mask:
        linear-gradient(#000 0 0),
        url('../assets/star.svg') 50% 50% / 300% 300% no-repeat;
    mask-composite: exclude;
    -webkit-mask-composite: exclude;
    transition: 0s;
}

#starShrink.visible {
    mask:
        linear-gradient(#000 0 0),
        url('../assets/star.svg') 50% 50% / 0% 0% no-repeat;
    -webkit-mask:
        linear-gradient(#000 0 0),
        url('../assets/star.svg') 50% 50% / 0% 0% no-repeat;
    transition: 1s;
    mask-composite: exclude;
    -webkit-mask-composite: exclude;
}